/* Tag selectors */

h1 {text-indent: 8em;
    font-style: oblique;
    color: rgb(77, 138, 138);
}

h2 {padding-right: 11em;
    display: inline-block;
    background-color: bisque;
    border: 1px solid blueviolet;
    color:brown;
    text-transform: uppercase;}

h3 {
    color: rgb(207, 14, 0);
    text-transform: uppercase;}

ul {display: inline-block;
    color:brown;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5.25em;
    background-color: rgb(138, 97, 111);
    }

ol {display: inline-block;
    color:brown;   
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5.25em;
    background-color: rgb(138, 97, 111);
    }

img {padding: 14px;
    position: absolute;float: right;width:200px;height:200px;}


/* Class selectors */

.picture {padding-right: 100em;}
